.buttons button {
    background: black !important;
    color: white;
}

.profileMainDiv {
    display: flex;
    flex-direction: column;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.profileInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.myPostsHeader {
    font-size: 22px;
    margin-left: 10px;
}

.userName {
    margin-left: 20px;
    font-size: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}